<a href="https://colab.research.google.com/github/komorimasashi/kakuritsu_toukei_1/blob/main/R02_R_Programming_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **2. Rプログラミングの基礎**

### **2.1 基本的なコマンド**

新しいR Script を作って，Rのコマンドの基礎を学びましょう．

まずは，伝統的にプログラミング言語の初心者が最初に書くコードのお約束「Hello, World!」を出力してみましょう．

In [ ]:
print("Hello, World!")

[1] "Hello, World!"

Rでは#記号（シャープじゃなくてハッシュマーク）がソースコードにコメントを入れる際に用いられます．これを**コメントアウト**といいます．コメントアウトの部分は実行時には無視されます．適切なコメントを残すことは，ソースコードの可読性や保守性を高める上でとても重要です．
具体的には以下のようにコメント記号は使われます．

In [ ]:
# "Hello, World!"の風習の起源は，有名な『The C Programming Language』という
# KernighanとRitchieが書いた有名なC言語の教科書内にあった例題に遡ります
# ソースコード作成者の氏名や制作日などをソースコード内に記載することもあります．
print("Hello, World!")  # コマンドの後ろにコメントをつけることもできます．
# コメントアウトされている部分は実行されないことを確認してください

[1] "Hello, World!"

##### **2.1.1 算術演算子**

四則演算をやってみましょう．ここで`＋`や`*`の記号のように演算を指示する記号は，**演算子**（オペレーター）と呼ばれます．演算子には多くの種類があります．

| 演算子 | 意味            | 例              | 結果 |
| ------ | --------------- | --------------- | ---- |
| +      | 和              | 2 + 5           | 7    |
| -      | 差              | 2 - 8           | -6   |
| *      | 積              | 7 * 3           | 21   |
| /      | 商              | 16 / 5          | 3.2  |
| ^、**  | 累乗（べき乗）  | 2^3または2 ** 3 | 8    |
| %%     | 剰余 | 18 %% 7         | 4    |
| %/%    | 整数商          | 18 %/% 7        | 2    |

In [ ]:
# 演算とその出力例
2 + 5
2 - 8
7 * 3
16 / 5
2 ^ 3
18 %% 7
18 %/% 7

[1] 7

[1] -6

[1] 21

[1] 3.2

[1] 8

[1] 4

[1] 2

演算子の前後にスペースを入れても入れなくても結果は変わりませんが，可読性のために演算子の前後に半角スペースをいれることが多いです．

In [ ]:
2 + 5 #　演算子の前後にスペースを入れても
2+5 #　演算子の前後にスペースを入れなくても出力結果は同じ

[1] 7

[1] 7

##### **2.1.2 論理演算子**

論理演算子は，入力した式が真か偽かを判定する演算子です．返り値（戻り値）は　TRUE（真）または FALSE（偽）のいずれかになります．たとえば、「4 > 2」は真なので、TRUE が返される。しかし、「2 + 3 = 1」は偽なのでFALSEが返ってきます．

In [ ]:
4 > 2

[1] TRUE

In [ ]:
2 + 3 == 1

[1] FALSE

##### **2.1.3 プリセットの関数**

Rにはもとから多くの関数が用意されていています．下に示す`sqrt()`や`floor()`なども用意されている関数です．カッコ内に書かれた数値に対して演算を行います．

In [ ]:
# 平方根を求める関数
sqrt(2)

# 小数以下を切り捨て
floor(2.5)

# 小数の切り上げ
ceiling(2.5)

# 四捨五入
round(2.5)

# 絶対値
abs(-1)

[1] 1.414214

[1] 2

[1] 3

[1] 2

[1] 1

In [ ]:
# コサイン
cos(2*pi)

# サイン
sin(0)

# 自然対数
log(2)

# 常用対数
log10(100)

# 底が2の対数(ビット)
log2(256)

# e^x
exp(0)

[1] 1

[1] 0

[1] 0.6931472

[1] 2

[1] 8

[1] 1

#### **2.1.4 代入演算子**

プログラミングにおける**変数**(variable）とは，何らかの値を入れておくためのはこのようなものだと思ってください．その箱に具体的な数値を入れる作業である代入をする際に用いられるのが**代入演算子**です．Rの代入演算子は「小なり」とハイフンを組み合わせた`<-` （左辺の変数に右辺を代入する）です．

`<-`のかわりに`=`を代入演算子として使うことができますが，恒等式と見間違えて混乱するので使わないでください．

In [ ]:
x <- 1 # 変数xを作ってそこに1を代入
print(x)  #変数xを表示

x <- x + 1 # 変数xにx +1を代入（つまりxに1を足すという意味）
print(x)  #変数xを表示

[1] 1
[1] 2

ベクトルと呼ばれるデータ構造を持つオブジェクト自体を代入することもできます．ここでは`c()`関数を利用して作成されたベクトルを`my_vec`というオブジェクトに代入しています．

In [ ]:
my_vec <- c(4, 2, 1, 6, 5, 0)

my_vecの中身を見てみましょう

In [ ]:
my_vec

[1] 4 2 1 6 5 0

Rの最も基本的なデータ構造はベクトルですので，連続した値のベクトルを作りたいときには下にように書きます．

In [ ]:
my_seq <- 1:15  #シーケンスを作成

In [ ]:
my_seq

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15

In [ ]:
my_seq2 <- seq(from = 1, to = 10, by = 0.25)
my_seq2

 [1]  1.00  1.25  1.50  1.75  2.00  2.25  2.50  2.75  3.00  3.25  3.50  3.75
[13]  4.00  4.25  4.50  4.75  5.00  5.25  5.50  5.75  6.00  6.25  6.50  6.75
[25]  7.00  7.25  7.50  7.75  8.00  8.25  8.50  8.75  9.00  9.25  9.50  9.75
[37] 10.00

### **2.2 データの型**

#### **2.2.1 データ型の種類**

異なる種類のデータをRがどのように扱うのかを理解しましょう．Rの代表的なデータ型にはnumeric（数値）, complex（複素数）, character（文字列）, logical（論理値） があります．numeric型はコンピュータの内部での扱われ方によってinteger型とdouble型があります（Rではあまりに気にしなくても大丈夫なことが多いです）．

| データの型       | 説明                 | 例                                    |
| ---------------- | -------------------- | ------------------------------------------- |
| integer(numeric) | 整数型               | 1, -1, 20300, ...                           |
| double(numeric)  | 実数型（整数も含む） | 3.1415, -0.001, 125.00012, 1, 1e-10, ...    |
| complex          | 複素数型             | 1i, 1 - 4.5i, 3+0i, complex(re=a,im=b), ... |
| character        | 文字型               | "Female", "Osaka University", "", ...                  |
| logical          | 論理型               | TRUE, FALSE, T, F, NA, ...                  |

普通のプログラミング言語（CやJavaなど）では，変数を扱うときに整数（int型）なのか浮動小数点数型実数(float型)なのか文字（char型）なのかというように「型」を設定する必要があります（int x など）． しかし，Rは変数の型を指定しなくてよく，勝手に方をRが決めてくれます．これを「動的型付け」といいます．C言語などの言語は静的型付け言語と言います．

##### **2.2.1.1 数値型(numeric型）と整数型（int型）と実数型（double型）**

In [ ]:
#　"score"という変数を作ってそこにデータ（整数）を代入する
score <- 1
print(score)  #この時点では変数sample_numericは整数（int型）かもしれない

#　変数scoreに0.1を足す
score <-  score + 0.1 #この時点では変数scoreは整数ではなくなり実数（double型）になります
print(score)

[1] 1
[1] 1.1

typeof()関数とmode()関数を使ってみると確かにdouble型（浮動小数点型実数）のnumeric型（数値型)であることがわかります．Rでは基本的に数値はdouble型になります.

In [ ]:
typeof(score)
mode(score)

[1] "double"

[1] "numeric"

##### **2.2.1.2 文字型（character型）**

In [ ]:
# "name_of_instructor"という変数を作ってそこに文字列を代入する
name_of_instructor <- "Komori Masashi"
print(name_of_instructor)

typeof(name_of_instructor)
mode(name_of_instructor)
class(name_of_instructor)

[1] "Komori Masashi"

[1] "character"

[1] "character"

[1] "character"

##### **2.2.1.3 論理値型（logical型）**

真（TRUE）か偽（FALSE）かを表す型．T/Fと書いても良い．

In [ ]:
# 論理値
examination_result <- FALSE
print(examination_result)

typeof(examination_result)
mode(examination_result)
class(examination_result)

[1] FALSE

[1] "logical"

[1] "logical"

[1] "logical"

In [ ]:
# 命題「2 > 1」が真であれば"TRUE"が，偽であれば"FALSE"が変数"is_true"に代入される
is_true <- 2 > 1
is_true

typeof(is_true)
mode(is_true)
class(is_true)

[1] TRUE

[1] "logical"

[1] "logical"

[1] "logical"

#####  **2.2.1.4 因子型（factor）**

因子型 (factor) は数値などをカテゴリカルなデータとして扱うとき等に使われます．例えば女性を1，男性を2としてデータを入力したものを，因子型として扱うには以下のようにします．`Levels`は因子の水準を表しています．

In [ ]:
gender <- c(1, 1, 1, 2, 2, 2)

gender <- as.factor(gender)
gender

[1] 1 1 1 2 2 2
Levels: 1 2

#### **2.2.2 データ型の確認と変換**

is.classOfData()関数を使って型を確認したり，as.className（）関数で強制的に型を変換することができます．

| 型     | 型の確認  | 強制変換         |
| ---------- | ------------ | ------------ |
| 文字列     | is.character | as.character |
| 数値       | is.numeric   | as.numeric   |
| 論理       | is.logical   | as.logical   |
| ファクター | is.factor    | as.factor    |
| 複素数     | is.complex   | as.complex   |

In [ ]:
data <- 3.14  #数値型として作成

is.numeric(data)  # 数値型かどうかを確認
## [1] TRUE

is.character(data)  # 文字型かどうかを確認
## [1] FALSE

is.logical(data)  # 論理型かどうかを確認
## [1] FALSE

[1] TRUE

[1] FALSE

[1] FALSE

In [ ]:
data <- "3.14"  # 文字型として作成

is.numeric(data)  # 数値型かどうかを確認
## [1] FALSE

is.character(data)  # 文字型かどうかを確認
## [1] TRUE

is.logical(data)  # 論理型かどうかを確認
## [1] FALSE

[1] FALSE

[1] TRUE

[1] FALSE

In [ ]:
data <- 3.14
data <- as.character(data)  # dataの型を文字型に強制的に変換
is.character(data)  # 文字型かどうかを確認
## [1] TRUE

[1] TRUE

#### **2.2.3 「変数の名前は自由につけてええ」というもんではない**

どんなプログラミング言語でもそうですが，変数の命名にはいくつかのお約束があります．

*   変数名に使える文字は小文字の a から z および大文字の A から Z
*   0 から 9 の数字やアンダースコア _ に加えて ピリオド . も使える
*   変数名の最初の文字に数字を使うことはできない
*   R の予約語（特別な意味を持つ文字列）を変数名に使うことはできない
   *    `if`, `else`, `while`, `for`, `in`, `next`, `break`など制御構文で用いられるワードおよび`function`
   *    `TRUE`, `FALSE`, `NULL`, `NA`, `NaN`, `Inf`など特別な値を表す予約語

あと`hensuu`とか`hogehoge`みたいな適当な日本語ではなく英語でちゃんと変数を命名しましょう．

In [ ]:
# よく使われるタイプの変数名
# ピリオド"."を使う場合；C言語の構造体のイメージ．ピリオドは「〜の」の意味になる
picture.height <- 400 # 画像の高さ
picture.width  <- 600 #画像の幅

# アンダースコア"_"を使う場合；「スネークケース」と呼ばれる（ヘビっぽいので）
picture_height <- 400 # 画像の高さ
picture_width  <- 600 #画像の幅

# 大文字を使う場合；「キャメルケース」と呼ばれる（大文字がラクダのコブっぽいので）
pictureHeight  <- 400 # 画像の高さ
pictureWidth <- 600 #画像の幅

# あまり望ましくない変数名
gazouhaba <- 400
gazounotakasa <- 600
foo <- 400
baa <- 600
hennsuu1 <- 400
hennsuu2 <- 600

### **2.3 データ構造**

Rで使われるオブジェクトには，ベクトル(vector)，行列(matrix)，データフレーム(data.frame)，リスト(list)，配列(array)，テーブル(table)があり，それぞれ使い方が異なります．基本はベクトルです．ベクトル，配列，行列，データフレームを覚えておけば，今のところは問題ありません．


<figure><img src="https://lh3.googleusercontent.com/d/10YisHIz_F_CRlaUjmMVnx5M3bZ0a2zE1" width=900><figcaption>データ構造の種類</figcaption></figure>

##### **2.3.1 ベクトル(vector)**

In [ ]:
# ベクトルを作成する
vec_x <- c(1, 3, 5, 7, 9)
vec_y <- c(6:10)

print(vec_x)
print(vec_y)

typeof(vec_x) #型
mode(vec_x)  #型
class(vec_x)  #オブジェクトの種類

[1] 1 3 5 7 9
[1]  6  7  8  9 10

[1] "double"

[1] "numeric"

[1] "numeric"

##### **2.3.2 行列（matrix）**

`cbind()`関数はベクトルを縦方向で結合する関数（**c**olumn（列）をくっつける（**bind**）するから）です．これを使ってベクトルから行列を作ってみましょう．


<figure><img src="https://lh3.googleusercontent.com/d/1uSzxMIx7U82xCTWV2ghBHZYdwqy6RbEt" width=500><figcaption>cbind()関数の処理</figcaption></figure>

In [ ]:
#vectorを列方向で連結するとベクトルが行列オブジェクトになる
my_mat <- cbind(vec_x , vec_y)
my_mat  # 行列を表示
typeof(my_mat) #型
mode(my_mat)  #型
class(my_mat)  #オブジェクトの種類

     vec_x vec_y
[1,] 1      6
[2,] 3      7
[3,] 5      8
[4,] 7      9
[5,] 9     10

[1] "double"

[1] "numeric"

[1] "matrix" "array"

##### **2.3.3 配列（array）**

配列は行列に似ていますが，何次元の配列でも作ることができます．

In [ ]:
# 九九の配列を作成する
# arrayの各次元の要素数を決定
dim1 <- 9
dim2 <- 9

# 配列の作成
my_array <- array(data = c(1:dim1) %*% t(c(1:dim2)), dim = c(dim1, dim2))

# arrayの内容を出力
print(my_array)

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9]
 [1,]    1    2    3    4    5    6    7    8    9
 [2,]    2    4    6    8   10   12   14   16   18
 [3,]    3    6    9   12   15   18   21   24   27
 [4,]    4    8   12   16   20   24   28   32   36
 [5,]    5   10   15   20   25   30   35   40   45
 [6,]    6   12   18   24   30   36   42   48   54
 [7,]    7   14   21   28   35   42   49   56   63
 [8,]    8   16   24   32   40   48   56   64   72
 [9,]    9   18   27   36   45   54   63   72   81

##### **2.3.4 リスト（list）**

リストは様々なデータ構造のデータを一つにまとめることができるかなり柔軟なデータ構造です．関数の戻り値としてリストが返ってくることがしばしばあります．

In [ ]:
# このリストには文字列型のベクトルと，論理型のベクトルと数値型の行列の3つがまとめられています
my_list <- list(c("black", "yellow", "orange"),
               c(TRUE, TRUE, FALSE, TRUE, FALSE, FALSE),
               matrix(1:6, nrow = 3))
my_list

[[1]]
[1] "black"  "yellow" "orange"

[[2]]
[1]  TRUE  TRUE FALSE  TRUE FALSE FALSE

[[3]]
     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

 ##### **2.3.5 データフレーム（data frame)**

心理学の統計分析において，おそらく最も使われるデータ構造はこのデータフレームです．データフレームは，行と列から構成される強力な二次元オブジェクトで外観上は行列と似ていますが，行列はすべて同じタイプのデータ型でなければならないのに対し，データフレームは異なるタイプのデータを含めることができます．

In [ ]:
#データフレームを作成する
vec_height <- c(168, 172, 181, 153, 166)
vec_weight <- c(72, 83, 75, 90, 100)

my_df <- data.frame(ID = c(1,2,3,4,5), HEIGHT=vec_height, WEIGHT=vec_weight)

print(my_df )

  ID HEIGHT WEIGHT
1  1    168     72
2  2    172     83
3  3    181     75
4  4    153     90
5  5    166    100

データフレームから変数（列）のデータにアクセスするには、$表記法を使用します．

In [ ]:
# データフレームからベクトルを取り出すときは「＄」表記法を使います
my_df$WEIGHT

[1]  72  83  75  90 100

次に統計学や機械学習の世界で有名なサンプルデータセットであるirisデータセットを使ってデータフレームの扱い方を見てみましょう．このデータセットには，iris（アヤメ）の花の種類ごとに、がく片（Sepal）と花びら（Petal）の長さと幅の測定値が含まれています．

In [ ]:
# irisデータセットの読み込み
data(iris)

# irisデータセットの最初の数行を表示
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [ ]:
# データフレームの特定の列（変数）にアクセス
# Sepal.Length列を表示
iris$Sepal.Length

  [1] 5.1 4.9 4.7 4.6 5.0 5.4 4.6 5.0 4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 [19] 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.0 5.0 5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.0
 [37] 5.5 4.9 4.4 5.1 5.0 4.5 4.4 5.0 5.1 4.8 5.1 4.6 5.3 5.0 7.0 6.4 6.9 5.5
 [55] 6.5 5.7 6.3 4.9 6.6 5.2 5.0 5.9 6.0 6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 [73] 6.3 6.1 6.4 6.6 6.8 6.7 6.0 5.7 5.5 5.5 5.8 6.0 5.4 6.0 6.7 6.3 5.6 5.5
 [91] 5.5 6.1 5.8 5.0 5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
[109] 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.0 6.9 5.6 7.7 6.3 6.7 7.2
[127] 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.0 6.9 6.7 6.9 5.8 6.8
[145] 6.7 6.7 6.3 6.5 6.2 5.9

In [ ]:
# データフレームの特定の行にアクセス
# 1行目を表示
iris[1, ]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa

In [ ]:
# データフレームの特定の範囲の行にアクセス
# 1から5行目を表示
iris[1:5, ]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa

In [ ]:
# データフレームの特定の列と行にアクセス
# 1行目のSpecies列の値を表示
iris[1, "Species"]

[1] setosa
Levels: setosa versicolor virginica

In [ ]:
# irisデータセットの概要を表示
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [ ]:
# データフレームに新しい列を追加
iris$NewColumn <- 1:150

# 新しい列を含むデータフレームを表示
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species NewColumn
1 5.1          3.5         1.4          0.2         setosa  1
2 4.9          3.0         1.4          0.2         setosa  2
3 4.7          3.2         1.3          0.2         setosa  3
4 4.6          3.1         1.5          0.2         setosa  4
5 5.0          3.6         1.4          0.2         setosa  5
6 5.4          3.9         1.7          0.4         setosa  6

### **2.4 データ要素の参照**

#### **2.4.1 ベクトルの要素**

In [ ]:
x <- c(1, 2, 3, 4, 5)

#xの中身を見る
x

# 2～4番目の要素を取り出す
x[2:4]

# 1 番目と 3 番目以外の要素を取り出す
x[c(-1,-3)]

# 3 より大きい要素のみを取り出す
x[3 < x]

#1より大きく，4未満の要素を取り出す
x[1 < x & x < 4]               # 2 つの条件は & や | で繋ぐ

[1] 1 2 3 4 5

[1] 2 3 4

[1] 2 4 5

[1] 4 5

[1] 2 3

#### **2.4.2 行列やデータフレームの要素**

In [ ]:
#行列を作成する
 x <- matrix(1:6, nrow=2, ncol=3)
 print(x)

 sprintf("行数: %d", nrow(x))
 sprintf("列数: %d", ncol(x))

     [,1] [,2] [,3]
[1,]    1    3    5
[2,]    2    4    6

[1] "行数: 2"

[1] "列数: 3"

In [ ]:
#1行2列目の要素を取り出す
x[1,2]

#2列目の要素を取り出す
x[,2]

# 3 より大きい要素のみを取り出す
x[x>3]

#1行目と2列めの両方を省いた要素を取り出す
x[-1,-2]

[1] 3

[1] 3 4

[1] 4 5 6

[1] 2 6

### **2.5 制御構文**

制御構文とは，普通は上から下へと順に実行されていくプログラムの流れを分岐させたり，繰り返し反復して実行させたりするための仕組みです．

制御構文を使うことで下のようなことができるようになります，
*   複雑な処理をすることができる
*   同じ処理を何度も繰り返し行うことができる

ここで使われるのが**if文，for文，while文**などです．

#### **2.5.1 if文**

まずはif文を書いてみましょう．ifの横にある条件式を満たしている場合(命題がTrue)のときには，該当の文(はじめにある:からelse:の手前まで)を実行し，そうでない場合（Falseのとき）はelse:以下を実行します．

Pythonでは{ }を使わず，コマンドをインデント(字下げ)して記述します．通常は**半角スペース4つ**分をおきます

**Pyhon**
```
if 条件式:
    条件式が満足されるときに実行される命令
else:
    条件式が満足されないときに実行される命令

```

一方，C言語やR言語では下のように{ }で命令を囲みます，インデントは必要ではありませんが，入れておくとコードを見やすくなるので{ }の中のコマンドにはインデントを入れましょう

**R言語やC言語**
```
if (条件式) {
    条件式が満足されるときに実行される命令
} else {
    条件式が満足されないときに実行される命令
}
```

註：インデントとは行の先頭にTabキーやスペースキーで空白を挿入して「字下げ」を行い，条件式が満たされたときの処理や，繰り返し処理の階層の深さを視覚的に表現するものです．インデントにも派閥があり，「**半角スペース2つ派**」，「**半角スペース4つ派**」，**「Tabキー**派」がいますが，この教材では「**スペース4つ派**」で書いています．

In [ ]:
# Rのif文
a <- 5
b <- 5

if(a > b){
    print("aはbより大きいです" )
} else {
    print("aはb以下です" )
}

[1] "aはb以下です"

もう少し複雑な条件分岐を書いてみます．

```else if (number == 0) ```
にあるように，「もし等しい場合は」という条件式を書くときは，「==」のように等号を2つ並べることに注意してください．

In [ ]:
# 数値を定義
number <- 12

# 最初のレベル: 数が0より大きいかどうかを評価
if (number > 0) {
    # 数が0より大きい場合、10より大きいかどうかを評価
    # このブロックは最初のif文がTRUEだったときに実行される部分なので
    #1段インデントを下げておく
    if (number > 10) {
        print("数は正で、10より大きいです。")
    } else {
        print("数は正ですが、10以下です。")
    }
} else if (number == 0) {
    # 数が0の場合
    print("数はゼロです。")
} else {
    # 数が0より小さい場合
    print("数は負です。")
}

[1] "数は正で、10より大きいです。"

In [ ]:
# 真理値を返す関数もあります．この関数は（）の中身がベクトルかどうかをTRUE/FALSEで返す関数です
is.vector(c(1,2,3))

[1] TRUE

#### **2.5.2 for文**

繰り返し処理のfor文です。for文でも中身はC言語のように{ }でくくりますが，{ }内はインデントをしたほうが読みやすいです．

In [ ]:
# for 文の一般的な書き方
for(i in 1:10){
  print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

for文は繰り返しを処理するとともに
以下は、c(1,2,3)のベクトルデータに対して，初めから順番に（1から）データを取り出し，データがなくなる（3まで）まで繰り返し処理（取り出した数字の表示と足し算）を実行しています．初めは0+1=1、次に1+2=3、最後に3+3=6となり，最終的な合計値を表示しています．

In [ ]:
# 1から10までの整数が含まれる配列を作成
my_data <- c(1, 2, 3, 4, 5, 6, 7, 20, 9, 10)
print(my_data)

# 配列の要素をforループを使って参照
# length(my_data)はベクトルmy_dataの長さ（length）を返します．
# for (i in 1:10){と同じ意味になります．コロンは１「から」１０の「から」に相当します
for (i in 1:length(my_data)) {
    print(sprintf("%d番目の要素は%dです", i, my_data[i]))
}

 [1]  1  2  3  4  5  6  7 20  9 10
[1] "1番目の要素は1です"
[1] "2番目の要素は2です"
[1] "3番目の要素は3です"
[1] "4番目の要素は4です"
[1] "5番目の要素は5です"
[1] "6番目の要素は6です"
[1] "7番目の要素は7です"
[1] "8番目の要素は20です"
[1] "9番目の要素は9です"
[1] "10番目の要素は10です"

In [ ]:
# 初期値の設定
total_num <- 0

# for 文
for(num in c(1,3,5)){
    # 繰り返しの回数表示
    print(num)
    # 今まで取り出した数の合計
    total_num <- total_num + num
}

# 最後に合計を表示
sprintf("total_num: %d", total_num)

[1] 1
[1] 3
[1] 5

[1] "total_num: 9"

#### **2.5.3 while文**


C言語と同じようにwhile文もあります．条件を満たしている限り，コマンドを何度も実行します．この例では，数字が10より大きくなった時点で，ループを抜けます．

In [ ]:
# while 文
num  =1
while (num<= 10){
      print(num)
      num <- num+ 1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

### **2.6 自作関数の作り方**

これまでは，typeof()関数や`print()`関数，`sqrt()`関数など，Rが事前に用意している関数を使ってきましたが，もちろん自作の関数を作ることもできます．

その前に用語を整理しておきましょう．
関数を呼び出す際に関数に渡す値のことを**引数（ひきすう）**といいます．また関数が処理を終了する際に，呼び出し元に対して渡す値のことを**戻り値（もどりち）**，もしくは返り値（かえりち）といいます．

Rで自作関数を定義する場合、`function () { } `のように書きます．小括弧には，関数内で利用する引数を書き，中括弧の中には，実際の処理を書き入れます．

下はxとyという2つの引数を持ち，それらの和を戻り値として返す自作関数の`add()`です．

In [ ]:
# 関数の定義
add <- function(x, y) {
    add <- x + y  # 和を求める
    return(add)  # addを戻り値とする
}

#　関数の実行
add(1,2)

[1] 3

戻り値が複数ある場合はlistにして返します

In [ ]:
addsub <- function(x, y) {
  add <- x + y  # 和
  sub  <- x - y  # 差
  return(list(ADD=add, SUB=sub))
}

addsub(1,2)

#下のように変数名を指定して取り出すこともできる
addsub(1,2)$ADD #addのみ
addsub(1,2)$SUB #subのみ

$ADD
[1] 3

$SUB
[1] -1

[1] 3

[1] -1

In [ ]:
# フィボナッチ数列を生成する関数
fibonacci <- function(n) {
  fib <- numeric(n)
  fib[1] <- 0
  if (n > 1) {
    fib[2] <- 1
    for (i in 3:n) {
      fib[i] <- fib[i - 1] + fib[i - 2]
    }
  }
  return(fib)
}

# フィボナッチ数列を10個生成して表示する例
n <- 10
result <- fibonacci(n)
print(result)

 [1]  0  1  1  2  3  5  8 13 21 34

### **2.7 ライブラリ**

#### **2.7.1 ライブラリとは**

Rにはもともと多くの機能が備わっていますが，それに加えて多様なライブラリ（またはパッケージ）が利用可能です．Rのライブラリ（パッケージ）は、特定の機能を提供する関数やデータセットの集まりです．これらのライブラリを使用することで，データ分析，グラフ作成，機械学習など，様々な作業を簡単に行うことができます．

CRAN (Comprehensive R Archive Network) をはじめとするリポジトリには、15,000以上のパッケージが公開されており，様々なニーズに対応するためのツールが豊富に揃っています．Rでライブラリをインストールするには、`install.packages()`関数を使用します。例えば、データ分析に頻繁に使用される`dplyr`パッケージをインストールするには、次のように実行します。

In [ ]:
install.packages("dplyr")

インストールした後、library()関数を使ってライブラリを読み込みます。これにより、そのライブラリの関数を使用できるようになります．

In [ ]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

すでにインストールされているパッケージを調べます．
Google Colaboratorｙの場合は，ggplot2 ，tidyverse  ，Rcpp ，MASS,など重要なライブラリの多くがインストール済みですが，デスクトップのRstudioで行う場合はすべて一からパッケージをインストールする必要があります．

In [ ]:
library()

In [ ]:
# ローカルの環境であれば一度インストールすれば下のコマンドを実行する必要はない
# Google Colabの場合はランタイムを再起動するたびに必要
install.packages("lme4")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘minqa’, ‘nloptr’, ‘Rcpp’, ‘RcppEigen’


Warning message in install.packages("lme4"):
“installation of package ‘lme4’ had non-zero exit status”

In [ ]:
#ライブラリを読み込む
library("lme4")

#上のライブラリに含まれているデータを使う
data <- data.frame(sleepstudy)

ric.model <- lmer(Reaction ~ Days + (Days | Subject), data = data)
summary(ric.model)

Loading required package: Matrix

Linear mixed model fit by REML ['lmerMod']
Formula: Reaction ~ Days + (Days | Subject)
   Data: data

REML criterion at convergence: 1743.6

Scaled residuals:
    Min      1Q  Median      3Q     Max
-3.9536 -0.4634  0.0231  0.4634  5.1793

Random effects:
 Groups   Name        Variance Std.Dev. Corr
 Subject  (Intercept) 612.10   24.741
          Days         35.07    5.922   0.07
 Residual             654.94   25.592
Number of obs: 180, groups:  Subject, 18

Fixed effects:
            Estimate Std. Error t value
(Intercept)  251.405      6.825  36.838
Days          10.467      1.546   6.771

Correlation of Fixed Effects:
     (Intr)
Days -0.138

#### **2.7.2  おすすめのライブラリ**


- **ggplot2**: データの可視化に使用される強力なグラフ作成パッケージ
- **dplyr**: データの操作や分析を容易にするための関数を提供するパッケージ
- **tidyr**: データを整理し、分析しやすい形式に変換するためのパッケージ
- **readr**: 様々な形式のファイルからデータを読み込むためのパッケージ